.daterangepicker .calendar-time {
    display: flex;
    align-items: stretch;
    margin-right: 8px;
    border-radius: .2rem;
    background: #e9ecef;
    padding: 0px 5px;
}

.daterangepicker .hourselect, .daterangepicker .minuteselect, .daterangepicker .ampmselect {
    flex: 1;
    background: none !important;
    border: 0 !important;
}

.daterangepicker .ampmselect {
    flex: none;
}

.daterangepicker .drp-buttons{
    display: flex !important;
}

.daterangepicker .drp-buttons .btn{
    flex: 1;
}

.daterangepicker .drp-buttons .btn.cancelBtn{
    margin-left: 0 !important;
}

.daterangepicker th.month{
    background-color: #e9ecef;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
    background: none;
    border: 0;
}

.daterangepicker select.monthselect:focus, .daterangepicker select.yearselect:focus{
    outline: none;
}

.daterangepicker .drp-selected{
    line-height: 28px;
}

input[type="search"]:not(:placeholder-shown){
    background-color: #e9ecef;
}